<div class="container py-5">
	<div class="row">
		<div class="col-12 ">
			<!-- Page title -->
			<div class="my-5">
				<h3>Edite My Profile</h3>
				<hr>
			</div>
			<!-- Form START -->
			<form class="file-upload ">
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded shadow">
							<div class="row g-3 ">
								<h4 class="mb-4 mt-0">Contact detail</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">First Name *</label>
									<input type="text" class="form-control" name="firstName"  aria-label="First name" value="{{userInfo.firstName}}" [(ngModel)]="userInfo.firstName">
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">Last Name *</label>
									<input type="text" class="form-control" placeholder="" aria-label="Last name" name="lastName" value="{{userInfo.lastName}}" [(ngModel)]="userInfo.lastName">
								</div>
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Email *</label>
									<input type="email" class="form-control" id="inputEmail4" name="email" value="{{userInfo.email}}" [(ngModel)]="userInfo.email">
								</div>
								<!-- Nationality -->
								<div class="col-md-6">
									<label class="form-label">Nationality *</label>
									<input type="text" class="form-control" placeholder="" aria-label="Nationality" name="nationality" value="{{userInfo.nationality}}" [(ngModel)]="userInfo.nationality">
								</div>
							</div> <!-- Row END -->
						</div>
					</div>
					<!-- Upload profile -->
					<div class="col-xxl-4">
						<div class="bg-secondary-soft px-4 py-4 rounded shadow">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Upload your profile photo</h4>
								<div class="text-center">
									<!-- Image upload -->
									<div class="square position-relative mb-3">
										<img src="https://res.cloudinary.com/dcd2gzr5x/image/upload/v1/folder_1/boqjxxg5sqnbglns1w3t" style="width:100%; height:100%; object-fit: cover;" class=" position-absolute top-50 start-50 translate-middle" alt="">
									</div>
									<!-- Button -->
									<form (ngSubmit)="imageUpload()" enctype="multipart/form-data">
										<input type="file" id="customFile" name="file" hidden=""  (change)="onFileSelected($event)">
										<label class="btn btn-success-soft btn-block" for="customFile">Upload</label>
										<button type="submit" class="btn btn-danger-soft">save</button>
									</form>
									<!-- Content -->
									<p class="text-muted mt-3 mb-0"><span class="me-1"><b>Note:</b></span>Minimum size 300px x 300px</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->

				<!-- Social media detail -->
				<div class="row mb-5 gx-5">
					<!-- change password -->
					<div class="col-xxl-6">
						<div class="bg-secondary-soft px-4 py-5 rounded shadow">
							<div class="row g-3">
								<h4 class="my-4">Change Password</h4>
								<!-- Old password -->
								<div class="col-md-6">
									<label for="exampleInputPassword1" class="form-label">Old password *</label>
									<input type="password" class="form-control" id="exampleInputPassword1" name="oldPassword" [(ngModel)]="oldPassword">
								</div>
								<!-- New password -->
								<div class="col-md-6">
									<label for="exampleInputPassword2" class="form-label">New password *</label>
									<input type="password" class="form-control" id="exampleInputPassword2">
								</div>
								<!-- Confirm password -->
								<div class="col-md-12">
									<label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
									<input type="password" class="form-control" id="exampleInputPassword3">
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->
				<!-- button -->
				<div class="gap-3 d-md-flex justify-content-md-end text-center">
					<button type="button" class="btn btn-danger btn-lg">Delete profile</button>
					<button type="button" class="btn btn-primary btn-lg" (click)="updateProfile()">Update profile</button>
				</div>
			</form> <!-- Form END -->
		</div>
	</div>
</div>
<app-copyright></app-copyright>
    