<div class="container mt-5">
    <div class="row">
            <div class="col-md-5 mb-3 w-25">
                <div class="card" style="width: 300px;height: 330px;">
                    <img class="card-image" src="./../../../assets/food/tajine.jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                    <div class="card-description text-black">
                        <h2>TAJINE</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-3 w-25">
                <div class="card" style="width: 300px;height: 330px;">
                    <img class="card-image" src="./../../../assets/food/pastilla.jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                    <div class="card-description text-black">
                        <h2>PASTILLA</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-3 w-25">
                <div class="card" style="width: 300px;height: 330px;">
                    <img class="card-image" src="./../../../assets/food/couscous.jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                    <div class="card-description text-black">
                        <h2>COUSCOUS</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                    </div>
                </div>
            </div>
    </div>
</div>