<section class="container py-5 d-flex justify-content-center">
    <div>
        <!-- <div class="row border rounded p-3 mb-5" style="width: 100%;">
            <div class="col-lg-6">
                <select name="" id="" class="form-control">
                    <option disabled selected>choose another city</option>
                    <option>MARRAKECH</option>
                    <option>CASABLANCA</option>
                    <option>IFRAN</option>
                </select>
            </div>
            <div class="d-flex justify-content-between col-lg-6">
                <select name="" id="" class="form-control">
                    <option selected>All</option>
                    <option>Hotels</option>
                    <option>Food</option>
                    <option>Famous Locations</option>
                </select>
                <button class="btn btn-outline-success ms-3">filter</button>
            </div>
        </div> -->
        <div class="row">
            @if (hotels.length > 0) {
                @for (hotel of hotels; track $index) {
                    <a routerLink="/hotel/{{hotel.id}}" class="col-6">
                        <div class="card" style="width: 270px;height: 300px;">
                            <img class="card-image" src="{{hotel.images[0].imageUrl}}" style="width: 100%;height: 100%;" alt="Placeholder Image">
                            <div class="card-description text-black">
                                <h2>{{hotel.name}}</h2>
                                <p>{{hotel.description}}</p>
                            </div>
                        </div>
                    </a>
                }
            }
            <!-- <a routerLink="/city" class="col-4">
                <div class="card" style="width: 270px;height: 300px;">
                    <img class="card-image" src="./../../../assets/food/tajine.jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                    <div class="card-description text-black">
                        <h2>CHECHAOUEN</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                    </div>
                </div>
            </a>
            <a routerLink="/city" class="col-4">
                <div class="card" style="width: 270px;height: 300px;">
                    <img class="card-image" src="./../../../assets/hotels/Dar Seffarine.jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                    <div class="card-description text-black">
                        <h2>AGADIR</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                    </div>
                </div>
            </a> -->
        </div>
        <div class="d-flex justify-content-end mt-5">
            <a href="" class="border btn btn-outline-secondary">Show more<i class="fa-solid fa-angles-right fa-xs ps-2"></i></a>
        </div>
    </div>
</section>