<div class="" style="top: 0; left: 0; width: 100%; height: 100vh; z-index: 2; overflow: hidden; position: relative;">
    <img src="./../../../assets/home.webp" style="width: 100%; height: 100%; object-fit: cover;" alt="Home Image">
    <div class="overlay"></div>
    <!-- <div class="cover-overlay">
        <img src="./../../../assets/logo/cover1.png" alt="">
    </div> -->
    <div class="container d-flex justify-content-between align-items-center" style="width: 880px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;">
        <div class="">
            <div>
                <h1 class="text-white" style="font-size: 5rem;">Welcome To Morocco </h1>
                <p class="text-white text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut expedita maiores nesciunt.</p>
            </div>
            <div class="text-center">
                <button class="btn btn-success px-4 me-3 rounded-pill">Get Started</button>
                <a class="btn border text-white rounded-pill px-4" routerLink="/signin"><i class="fa-solid fa-right-to-bracket me-2" style="color: #ffffff;"></i>Login</a>
            </div>
        </div>
        <div>
            <!-- <img src="./../../../assets/home.png" width="650" alt="Home Image" style="filter: drop-shadow(0px 5px 20px #fff);"> -->
        </div>
    </div>
</div>


<app-about-us></app-about-us>
<app-city-section></app-city-section>
<app-footer></app-footer>
