<nav id="navbar" class="navbar navbar-expand-lg fixed-top shadow">
    <div class="container-fluid " style="height: 45px;">
        <a class="navbar-brand " href="#">
            <h5 class="text-white ms-5" style="font-family:Georgia, 'Times New Roman', Times, serif;">City<span class="border rounded px-3 ms-2 py-2 bg-white" style="color: #53AC17;">Explorer</span></h5>
        </a>
        <div class="navbar-nav me-5">
            <a class="nav-link active text-white btn shadow"   routerLink="/">Home</a>
            <a class="nav-link text-white" href="#city">Cities</a>
            <a class="nav-link text-white" href="#">Hotels</a>
            <a class="nav-link text-white" >Tours</a>
            <a class="nav-link text-white" routerLink="/signin" >Login</a>
        </div>
    </div>
</nav>
