.scrolled {
    background-color: rgb(255, 255, 255) ;
}
.scrolled .navbar-nav .nav-link {
    color: black !important;
}
.scrolled .navbar-brand .text-white {
  color: black !important;
}

.dropdown:hover > .dropdown-menu{
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
.dropdown-toggle{
  background-color: #A7FC52;
}