<section id="cities" class="py-5" style="background-color:#F5F5F5;">
    <div class="text-center">
        <h2>Cities</h2>
    </div>
    <div class="container mt-5">
        <div class="row ">
            <div class="col-md-12 row mb-2">
                <div class="col-md-4">
                    <a href="" routerLink="/city">
                        <div class="card" style="width: 320px;height: 350px;">
                            <img class="card-image" src="./../../../assets/cities/img (1).jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                            <div class="card-description text-black">
                                <h2>IFRAN</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 320px;height: 350px;">
                        <img class="card-image" src="./../../../assets/cities/img (2).jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                        <div class="card-description text-black">
                            <h2>CHECHAOUEN</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 320px;height: 350px;">
                        <img class="card-image" src="./../../../assets/cities/img (3).jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                        <div class="card-description text-black">
                            <h2>AGADIR</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row mb-2">
                <div class="col-md-4">
                    <div class="card" style="width: 320px;height: 350px;">
                        <img class="card-image" src="./../../../assets/cities/img (4).jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                        <div class="card-description text-black">
                            <h2>MARRAKECH</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 320px;height: 350px;">
                        <img class="card-image" src="./../../../assets/cities/img (5).jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                        <div class="card-description text-black">
                            <h2>CASABLANCA</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 320px;height: 350px;">
                        <img class="card-image" src="./../../../assets/cities/img (6).jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                        <div class="card-description text-black">
                            <h2>MERZOUGA</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
