<section style="background-color: #f7f6f6;">
    <div class="container  py-5 text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="text-dark mb-0">Last comments (4)</h4>
                <div class="card">
                <!-- <div class="card-body p-2 d-flex align-items-center">
                    <h6 class="text-primary fw-bold small mb-0 me-1">Comments "ON"</h6>
                    <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                    </div>
                </div> -->
                </div>
            </div>
            <!-- comment cards -->
            <div class="card mb-3 shadow">
                <div class="card-body">
                <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(14).webp" alt="avatar" width="40"
                    height="40" />
                    <div class="w-100">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="text-primary fw-bold mb-0">Betty Walker</h6>
                            <p class="mb-0">4 days ago</p>
                        </div>
                        <div class="ms-5 mb-3 border p-2 rounded" style="background-color: #f7f6f6;">
                            <span class="fw-bold">Ifrane is one of my favorite cities i spend a wonderful momment there</span>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="d-flex flex-row">
                                <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                <a href="#!" class="link-muted"><i class="fa-solid fa-trash ms-2"></i></a>
                                <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3 shadow">
                <div class="card-body">
                <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="40"
                    height="40" />
                    <div class="w-100">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="text-primary fw-bold mb-0">Alexa Bennett</h6>
                            <p class="mb-0"> March 24, 2021</p>
                        </div>
                        <div class="ms-5 mb-3 border p-2 rounded" style="background-color: #f7f6f6;">
                            <span class="fw-bold">Ifrane, the charming city in Morocco, captivates with its picturesque beauty and serene atmosphere.</span>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="d-flex flex-row">
                                <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                <a href="#!" class="link-muted"><i class="fa-solid fa-trash ms-2"></i></a>
                                <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3 shadow">
                <div class="card-body">
                <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="40"
                    height="40" />
                    <div class="w-100">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="text-primary fw-bold mb-0">John Smith</h6>
                            <p class="mb-0"> March 30, 2021 </p>
                        </div>
                        <div class="ms-5 mb-3 border p-2 rounded" style="background-color: #f7f6f6;">
                            <span class="fw-bold">Nestled in the majestic Atlas Mountains, Ifrane enchants visitors with its idyllic landscapes and enchanting architecture, creating a serene haven away from the bustling world.</span>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="d-flex flex-row">
                                <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                <a href="#!" class="link-muted"><i class="fa-solid fa-trash ms-2"></i></a>
                                <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
          <!-- end of comment cards -->
            <div class="d-flex justify-content-end mt-5">
                <a href="" class="border btn btn-outline-secondary">Show more<i class="fa-solid fa-angles-right fa-xs ps-2"></i></a>
            </div>
        </div>
        
      </div>
    </div>
  </section>