<section  id="hotel" class=" py-5" style="background-color:#F5F5F5; font-family:'Courier New', Courier, monospace;">
    <div class="text-center mt-2"  style="position: relative;">
        <h2 class="fw-bold">Popular hotels</h2>
        <img src="./../.././../assets/logo/img2.png" class="logo" style="position: absolute; top: -110%; left: 47%; color: white;" width="100" alt="">
    </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-evenly">
            <div class="card" style="width: 320px;height: 350px;">
                <img class="card-image" src="./../../../assets/hotels/Royal Mansour Marrakech.jpeg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                <div class="card-description text-black">
                    <h2>Royal Mansour Marrakech</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                </div>
            </div>
            <div class="card" style="width: 320px;height: 350px;">
                <img class="card-image" src="./../../../assets/hotels/la-sultana-oualidia.jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                <div class="card-description text-black">
                    <h2>La Sultana Oualidia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                </div>
            </div>
            <div class="card" style="width: 320px;height: 350px;">
                <img class="card-image" src="./../../../assets/hotels/Dar Seffarine.jpg" style="width: 100%;height: 100%;" alt="Placeholder Image">
                <div class="card-description text-black">
                    <h2>Dar Seffarine</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem incidunt expedita esse.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end me-5">
        <a routerLink="/hotels">Show more</a>
    </div>
</section>
