<section  >
    <div class="d-flex justify-content-evenly align-items-center p-5">
        <div>
            <img src="../../../assets/contributor/airbnb.png" width="140" alt="">
        </div>
        <div>
            <img src="../../../assets/contributor/150.png " width="140" alt="">
        </div>
        <div>
            <img src="../../../assets/contributor/iam.png" width="140" alt="">
        </div>
        <div>
            <img src="../../../assets/contributor/InDrive.png" width="140" alt="">
        </div>
    </div>
</section>
