<div class="d-flex justify-content-evenly align-items-center " style="background: linear-gradient(180deg, rgba(198,235,161,1) 17%, rgba(255,255,255,1) 100%);">
    <div class="p-5" style="position: relative; ">
        <div style="margin-top: 150px;">
            <img src="./../../../assets/logo/img2.png" class="opacity-25"  style="position: absolute; width: 500px; top:-40%;left: -50%;" alt="logImg">
            <h1 style="font-size: 70px; font-family:fantasy;">Let's get <br>started .</h1>
        </div>
        <div class=" px-5 p-3 d-flex justify-content-between bg-light rounded " style="width: 400px;" >
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." >
                <datalist id="datalistOptions" >
                    <option value="Marrakech">
                    <option value="Casablanca">
                    <option value="Chefchaouen">
                    <option value="Agadir">
                </datalist>
            <button class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
    <div class="right-div d-flex p-5">
        <div class="circle1 shadow" style="position: absolute; top: -1%; left: -1%; z-index: 1; background-color:  #28e645;  width: 80px;height: 80px; border-radius: 50%;"></div>
        <div class="circle2 shadow" style="position: absolute; top: 11%; left: 52%; z-index: 1; background-color:  #28e645;  width: 100px;height: 100px; border-radius: 50%;"></div>
        <div class="circle3 shadow" style="position: absolute; top: 52%; left: 41%; z-index: 1; background-color:  #28e645;  width: 250px;height: 250px; border-radius: 50%;"></div>
        <div class="me-3" style="z-index: 2;">
            <div class="mb-4 rounded shadow" style="width: 300px ;height: 320px ;" >
                <img src="./../../../assets/cities/img (1).jpg" class="rounded " style="width: 100% ;height: 100% ; object-fit: cover;" alt="">
            </div>
            <div class=" rounded shadow" style="width: 300px ;height: 320px ;" >
                <img src="./../../../assets/cities/img (2).jpg" class="rounded " style="width: 100% ;height: 100% ; object-fit: cover;" alt="">
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center rounded " style="z-index: 2;">
            <img src="./../../../assets/cities/img (3).jpg" class="rounded shadow" style="width: 300px ;height: 320px ; object-fit: cover;" alt="">
        </div>
    </div>
</div>
<app-all-cities></app-all-cities>
<app-copyright></app-copyright>
